<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669784040705-qmp9ngg1119joa1k60vo0tqqtqd3nbjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669784040705-qmp9ngg1119joa1k60vo0tqqtqd3nbjm</string>
	<key>API_KEY</key>
	<string>AIzaSyA8kj8zoFoxKb2TvZhMh5Sn3yDwtMYr7h4</string>
	<key>GCM_SENDER_ID</key>
	<string>669784040705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuroWood.app</string>
	<key>PROJECT_ID</key>
	<string>neurowood-d8fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>neurowood-d8fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669784040705:ios:66a4c91710bde2b15ca700</string>
</dict>
</plist>